/* Wrapper */

#bwrap {
  background: $secondary-color;
  h5 {
    color: $text-color;
  }
}

#twrap {
  background: url(https://utphax.cyberhax.club/assets/img/t-back.jpg) no-repeat center top;
  position: relative;
  min-height: 320px;
  width: 100%;
  @include prefix((background-size: 100%));
  @include prefix((background-size: cover));
}

#twrapcover {
  background-color: rgba($secondary-color, .65);
  position: absolute;
  width: 100%;
  height: 100%;
  h4 {
    color: $text-color;
  }
  li {
    display: inline;
    font-weight: bold;
    a {
      color: $black-color;
      &:hover {
        color: $text-color;
      }
    }
  }
}

.sponsor-bg { background: #e0e0e0; }

.bg-gradient {
  background: linear-gradient(270deg, #a24bcf, #4b79cf, #4bc5cf);
  background-size: 200% 200%;
  @include prefix((animation: gradientAnimation 20s ease infinite));
}
@-webkit-keyframes gradientAnimation {
  0%{background-position:0% 50%}
  50%{background-position:100% 51%}
  100%{background-position:0% 50%}
}
@-moz-keyframes gradientAnimation {
  0%{background-position:0% 50%}
  50%{background-position:100% 51%}
  100%{background-position:0% 50%}
}
@keyframes gradientAnimation {
  0%{background-position:0% 50%}
  50%{background-position:100% 51%}
  100%{background-position:0% 50%}
}
